body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.achievement {
    font-size: 32px;
    line-height: 36px;
}

.role-row {
    margin-top: 10px;
}

.role-row__image {
    max-height: 300px;
}